In [38]:

import pandas as pd
import numpy as np

df = pd.read_csv('17S1.csv')
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
0,1048876,3/31/17 23:59,4/1/17 00:17,31213,17th & K St NW,31606,Potomac & Pennsylvania Ave SE,W20784,Registered
1,223449,3/31/17 23:59,4/1/17 00:03,31104,Adams Mill & Columbia Rd NW,31103,16th & Harvard St NW,W20825,Registered
2,423494,3/31/17 23:58,4/1/17 00:05,31627,M St & Delaware Ave NE,31614,11th & H St NE,W20773,Registered
3,687015,3/31/17 23:57,4/1/17 00:08,31404,9th & Upshur St NW,31281,8th & O St NW,W01307,Registered
4,257919,3/31/17 23:57,4/1/17 00:02,31602,Park Rd & Holmead Pl NW,31400,Georgia & New Hampshire Ave NW,W21760,Registered

In [66]:
ss= set(df['Start station'])


ee= set(df['End station'])

#ss==ee

SSS=list(ss)
#print(SSS[1])

from geopy.geocoders import Nominatim
geolocator= Nominatim()
#location=geolocator.geocode(SSS[0])

latitude=[]
longitude=[]
address=[]


S1 = SSS[:150]
S2 = SSS[150:300]
S3 = SSS[300:452]
#print(S1)
#print(S3)


for i in S1:
    location=geolocator.geocode(i)
    if location == None:
        address.append('NNNNNNNNN')
        latitude.append('NNNNNNNNN')
        longitude.append('NNNNNNNNN')
        #print('NNNNN')
    else:
        
        address.append(location.address)
        latitude.append(location.latitude)
        longitude.append(location.longitude)     
        #print(location.latitude)

for y in S2:
    location=geolocator.geocode(y)
    if location == None:
        address.append('NNNNNNNNN')
        latitude.append('NNNNNNNNN')
        longitude.append('NNNNNNNNN')
        #print('NNNNN')
    else:
        
        address.append(location.address)
        latitude.append(location.latitude)
        longitude.append(location.longitude)     
        #print(location.latitude)

for k in S3:
    location=geolocator.geocode(k)
    if location == None:
        address.append('NNNNNNNNN')
        latitude.append('NNNNNNNNN')
        longitude.append('NNNNNNNNN')
        #print('NNNNN')
    else:
        
        address.append(location.address)
        latitude.append(location.latitude)
        longitude.append(location.longitude)     
        #print(location.latitude)

print(latitude)

#print(location.address)
#print(location.latitude,location.longitude)
#print(location.raw)

[38.8960152, 38.9177607, 38.8814063, 'NNNNNNNNN', 38.9025777, 38.843698, 'NNNNNNNNN', 38.8945997, 'NNNNNNNNN', 38.8858007, 'NNNNNNNNN', 'NNNNNNNNN', 38.9025777, 38.9038267, 38.9120997, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8623997, 38.8749005, 38.9027555, 38.9089047, 38.9374997, 38.8899547, 38.8847337, 38.9278717, 38.9288544, 'NNNNNNNNN', 38.9248997, 40.10366, 'NNNNNNNNN', 'NNNNNNNNN', 38.8666107, 'NNNNNNNNN', 38.9226487, 38.9844966, 38.8440147, 'NNNNNNNNN', 38.8031237, 38.86602835, 38.9022207, 38.9003995, 38.9038187, 'NNNNNNNNN', 'NNNNNNNNN', 38.8447107, 38.884906, 38.9336677, 'NNNNNNNNN', 'NNNNNNNNN', 38.9550753, 15.2208129, 38.9100997, 38.9051257, 38.8862657, 38.8947577, 38.8651576, 40.5983333, 38.8673727, 'NNNNNNNNN', 38.9548117, 'NNNNNNNNN', 38.8945137, 'NNNNNNNNN', 38.8425997, 38.898933, 'NNNNNNNNN', 40.128693, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8053167, 38.8827877, 'NNNNNNNNN', 38.8978565, 38.912608, 38.8953437, 'NNNNNNNNN', 38.898913, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 37.504818, 'NNNNNNNNN', 'NNNNNNNNN', 38.8878597, 'NNNNNNNNN', 38.9686309, 39.116751, 38.8921637, 38.9109717, 'NNNNNNNNN', 'NNNNNNNNN', 38.8869517, 'NNNNNNNNN', 38.8849607, 33.489908, 38.8963209, 33.8906523, 38.8788697, 42.4106072, 'NNNNNNNNN', 'NNNNNNNNN', 38.9657332, 38.9002151, 'NNNNNNNNN', 38.8811847, 38.9022037, 38.8965437, 'NNNNNNNNN', 38.9476067, 'NNNNNNNNN', 39.7869884, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.82093, 38.9839855, 'NNNNNNNNN', 38.9015997, 38.8893647, 38.9438367, 38.8056477, 38.9025777, 44.658686, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.919879, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8947992, 'NNNNNNNNN', 43.6651641, 'NNNNNNNNN', 38.9348907, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8948317, 38.8920779, 38.9085745, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8730567, 'NNNNNNNNN', 38.9008797, 38.8895997, 'NNNNNNNNN', 38.8107427, 38.8839697, 38.8568424, 38.9477737, 36.078636, 'NNNNNNNNN', 'NNNNNNNNN', 38.8841284, 14.6759057, 38.9015387, 38.8536127, 'NNNNNNNNN', 'NNNNNNNNN', 38.957932, 'NNNNNNNNN', 38.8057667, 38.9206687, 38.9019997, 'NNNNNNNNN', 38.9002997, 'NNNNNNNNN', 'NNNNNNNNN', 38.8651576, 38.9077397, 38.8839997, 40.609628, 38.8983902, 38.8904607, 'NNNNNNNNN', 38.9287427, 38.9175997, 38.9313238, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 14.4281507, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 32.390416, 'NNNNNNNNN', 55.85142125, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.9002827, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8199908, 'NNNNNNNNN', 38.8826287, 'NNNNNNNNN', 'NNNNNNNNN', 38.917492, 38.9154997, 46.3649285, 38.8791997, 38.9614438, 27.5172867, 39.0988686, 'NNNNNNNNN', 'NNNNNNNNN', 38.9880404, 38.9126963, 'NNNNNNNNN', 38.9002997, 'NNNNNNNNN', 'NNNNNNNNN', 38.9056997, 38.8786097, 'NNNNNNNNN', 38.8624704, 38.9052207, 38.8936677, 'NNNNNNNNN', 'NNNNNNNNN', 38.8999827, 38.8984105, 38.9518578, 38.8880997, 38.8572997, 38.9171997, 38.9154167, 38.8766997, 38.9098497, 38.9037418, 38.8933898, 38.9187984, 'NNNNNNNNN', 38.8960147, 38.8959137, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8636997, 38.914086, 'NNNNNNNNN', 38.8873197, 38.9191869, 'NNNNNNNNN', 38.8932407, 38.9618152, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8983637, 38.8810437, 38.8889997, 38.8974457, 49.2154694, 38.9004127, 'NNNNNNNNN', 38.9153997, 38.8762997, 'NNNNNNNNN', 38.9020607, 'NNNNNNNNN', 38.8969597, 'NNNNNNNNN', 38.8872987, 38.9085997, 'NNNNNNNNN', 38.9164417, 'NNNNNNNNN', 38.9387357, 51.0904351, 38.8047177, 42.868673, 38.8970883, 38.9033082, 38.8802997, 'NNNNNNNNN', 'NNNNNNNNN', 38.8628997, 'NNNNNNNNN', 38.8532997, 'NNNNNNNNN', 38.8841197, 'NNNNNNNNN', 'NNNNNNNNN', 38.889705, 38.9233824, 38.9037497, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.907151, 38.8899347, 43.3034028, 38.8329403, 38.9085745, 'NNNNNNNNN', 38.9035837, 38.9281557, 38.9056377, 'NNNNNNNNN', 'NNNNNNNNN', 39.009124, 'NNNNNNNNN', 38.8905607, 38.9319014, 'NNNNNNNNN', 38.9325137, 38.9230444, 38.9445507, 43.0760899, 'NNNNNNNNN', 38.971412, 38.9417636, 38.8484407, 38.894898, 38.9302817, 38.9038447, 'NNNNNNNNN', 38.9345997, 'NNNNNNNNN', 38.9767849, 'NNNNNNNNN', 38.9047417, 'NNNNNNNNN', 38.8839207, 38.9342667, 'NNNNNNNNN', 38.8969227, 'NNNNNNNNN', 38.8114557, 38.9050897, 'NNNNNNNNN', 38.8259996, 38.8836019, 38.8903997, 'NNNNNNNNN', 'NNNNNNNNN', 38.9057197, 38.8563997, 'NNNNNNNNN', 38.9127083, 38.9770975, 38.889705, 'NNNNNNNNN', 38.8990997, 'NNNNNNNNN', 'NNNNNNNNN', 38.814579, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 40.104116, 'NNNNNNNNN', 38.8892718, 38.8973147, 39.1127349, 38.9294637, 'NNNNNNNNN', 38.9257547, 38.8872367, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 30.2879876, 38.8930277, 46.3649285, 38.8961037, 38.9267997, 23.7419317, 'NNNNNNNNN', 38.8601822, 38.9085745, 'NNNNNNNNN', 38.9065997, 38.9313238, 38.9066017, 38.8997546, 38.8412976, 38.9235997, 38.9007997, 38.9308232, 38.8924483, 'NNNNNNNNN', -27.4646321, 38.8851401, 38.9905177, 38.9418654, 38.8808337, 'NNNNNNNNN', 38.8996557, 38.9798727, 38.8939997, 38.9057067, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8839997, 38.9559957, 'NNNNNNNNN', 38.9125413, 38.8972217, 38.9053997, 'NNNNNNNNN', 38.8600997, 'NNNNNNNNN', 'NNNNNNNNN', 38.9972034, 38.8904584, 'NNNNNNNNN', 38.9775606, 38.8996997, 38.8980687, 38.918592, 38.900042, 38.9206796, 38.8763927, 'NNNNNNNNN', 'NNNNNNNNN', 'NNNNNNNNN', 38.8742997, 38.9360427, 38.978202, 38.9002151, 38.8905397, 'NNNNNNNNN', 'NNNNNNNNN', 38.8691997]

In [70]:
station_list=list(ss)

dataframe = pd.DataFrame({'K1':station_list,'K2':address,'K3':latitude,'K4':longitude})



dataframe.to_csv("S_L.csv")